* {
  box-sizing: border-box;
}

nav {
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: #364344;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.15);
}

#menu-icon {
  display: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {

}

nav li a {
    float: left;
    display: block;
    text-decoration: none;
    padding: 16px;
    line-height: 26px;
    color: #ffffff;
    height: 60px;
}

nav li a:hover {
    background-color: #111;
}


.active {
  background-color: #36cece;
}

.fa-bars {
  color: #ffffff;
}

.fa-bars:hover {
  cursor: pointer;
}

/* Tablet */

@media (max-width:870px) {

.desktop-nav {
  display: none;
}

#menu-icon {
  display: inline-block;
  float: right;
  margin: 22px;
}

}
